/* {
     border:solid black 1px;
} */

body {
    width:650px;
    height:590px;
    margin:0px auto;
	background:#BDD5FB;
}

h1 {
	font-family:Arial;
	font-size:28px;
	margin:25px;
	width:570px;
	color:black;
    text-shadow:2px 2px white;
}

/* ajuste de velocidad */

.container {
    background:#7BDA6A;
    border-radius:10px 10px 0px 0px;
    top:80px;
    width:530px;
    height:120px;
    position:absolute;
    margin:0px 40px;
    text-align:center;
    padding:20px 0px 0px 0px;
}

.ul1 {
    padding:10px 0px 0px 25px;
}

.li1 {
    background:#23C00B;
    height:45px;
    line-height:30px;
    display:inline-block;
    font-weight:bold;
    width:85px;
    border-radius:10px;
    margin:0px 20px 0px 0px;
}

.a1 {
    display:inline-block;
    margin:5px;
    color:white;
}

.a1:hover { 
    color:black;
}

.a1:active { 
    color:red;
}

.adjustTime {
    background:#7BDA6A;
    border-radius:0px 0px 10px 10px;
    top:210px;
    height:200px;
    width:530px;
    position:absolute;
    margin:10px 40px;
    text-align:center;
    padding:20px 0px 0px 0px;
}

#speedStep, #state {
    color:#575658;
}

input {
margin:20px 20px;   
}

/* para elegir un servicio */

nav {
	text-align:center;
	top:450px;
	width:630px;
	position:absolute;
}

.ul2 {
	display:inline-block;
	list-style:none;
	padding:0px 0px 0px 0px;
}

.li2 {
	float:left;
	padding:8px;
	background-color:#FD6E27;
	margin:10px 20px 0px 0px;
	border-radius:5px;
}

.a2 {
	text-decoration:none;
	font-size:22px;
	color:white;
	text-shadow: 0px 1px 0px black;
}

.a2:hover {
	color:black;
}

.a2:active { 
    color:white;
}