body {
    width:600px;
    height:600px;
    margin:0px auto;
}

h1 {
    width:570px;
    height:60px;
    margin:10px 10px;
    border-radius:10px;
    background:#ffd700;
    padding:15px 0px 0px;
    color:#110F16;
}

.container {
    background:#BDD5FB;
    border-radius:10px;
    top:280px;
    width:580px;
    height:120px;
    position:absolute;
    margin:0px 5px;
    text-align:center;
}

ul {
    padding:0px 5px 10px 25px;
}

li {
    background:#4C3CB0;
    height:45px;
    line-height:30px;
    display:inline-block;
    font-weight:bold;
    width:85px;
    border-radius:10px;
    margin:0px 20px 0px 0px;
}

a {
    display:inline-block;
    margin:5px;
    color: white;
}

a:hover { 
    color:black;
}

a:active {
    color:red;    
}

.posiciones{
    background:#EEEDDB;
    width:570px;
    height:450px;
    border-radius:10px;
    margin:10px;
    padding:50px 0px 0px;
}